/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/indigo-pink.css';

.fields-container {
    display: flex;
    flex-direction: column;
}
  
.fields-container > * {
    width: 100%;
}

.app-loading {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.app-loading .spinner {
    margin: 0 auto;
}

.img-container {
    width: 256px;
    height: 256px;
    background-color: grey;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.1);
}

.img-preview {
    margin: 0;
    background-color: rgba(255, 255, 255, 1);
    max-width: 256px;
    max-height: 256px;
}

.btn-loadImg {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

mat-card img {
    object-fit: cover;
    height: 50%;
}

body{
    margin: 0;
}

.fill{
    flex: 1 1 auto;
}

.div-mat-card {
    display: flex;
    flex-wrap: wrap;
}

.star-ratings-css {
    unicode-bidi: bidi-override;
    color: #c5c5c5;
    font-size: 30px;
    position: relative;
    text-shadow: 0px 1px 0 #a2a2a2;
}
.star-ratings-css-top {
    color: #e7711b;
    position: absolute;
    z-index: 1;
    overflow: hidden;
}

.card-image{
    object-fit: fill;
}

.mat-card-avatar-custom {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
    margin-right: 10%;
}