<div *ngIf="!loading">
  <div class="container-fluid">
    <br>
    <button mat-raised-button color="primary" class="button-left" (click)="openSearchDialog()">
      <mat-icon>add</mat-icon> Add friends
    </button>
    <br><br>
    
    <div *ngIf="acceptedRequests.length > 0">
      <div class="card-deck">
        <div class="col-3" *ngFor="let element of acceptedRequests">
          <div class="card mat-elevation-z8">
            <div class="card-header">
              <h4 class="card-title text-center">{{element.firstName}} {{element.lastName}}</h4>
            </div>
            <img src="{{element.image}}" class="card-img-top" alt="Profile image" *ngIf="element.image">
            <img src="/assets/images/avatar.jpg" class="card-img-top" alt="Profile image" *ngIf="!element.image">
            <div class="card-body">
              <p class="card-text">
                <b>About me</b><br>
                {{element.aboutMe}}
              </p>
            </div>
            <div class="card-footer">
              <button mat-button color="warn" matTooltip="Remove from friends" (click)="deleteRequest(element, 0)">
                <mat-icon>block</mat-icon>
                Remove
              </button>
            </div>
          </div>
        </div>
      </div>
      <br>
      <mat-divider></mat-divider>
      <br>
    </div>

    <div *ngIf="sentRequests.length > 0">
      <h3>Pending requests</h3><br>
      <div class="card-deck">
        <div class="col-3" *ngFor="let element of sentRequests">
          <div class="card mat-elevation-z8">
            <div class="card-header">
              <h4 class="card-title text-center">{{element.firstName}} {{element.lastName}}</h4>
            </div>
            <img src="{{element.image}}" class="card-img-top" alt="..." *ngIf="element.image">
            <img src="/assets/images/avatar.jpg" class="card-img-top" alt="" *ngIf="!element.image">
            <div class="card-body">
              <p class="card-text">
                <b>About me</b><br>
                {{element.aboutMe}}
              </p>
            </div>
            <div class="card-footer">
              <button mat-button color="warn" matTooltip="Cancel request" (click)="deleteRequest(element, 1)">
                <mat-icon>person_add_disabled</mat-icon>
                Cancel
              </button>
            </div>
          </div>
        </div>
      </div>
      <br>
      <mat-divider></mat-divider>
      <br>
    </div>

    <div *ngIf="receivedRequests.length > 0">
      <h3>Received requests</h3><br>
      <div class="card-deck">
        <div class="col-3" *ngFor="let element of receivedRequests">
          <div class="card mat-elevation-z8">
            <div class="card-header">
              <h4 class="card-title text-center">{{element.firstName}} {{element.lastName}}</h4>
            </div>
            <img src="{{element.image}}" class="card-img-top" alt="Profile image" *ngIf="element.image">
            <img src="/assets/images/avatar.jpg" class="card-img-top" alt="Profile image" *ngIf="!element.image">
            <div class="card-body">
              <p class="card-text">
                <b>About me</b><br>
                {{element.aboutMe}}
              </p>
            </div>
            <div class="card-footer">
              <button mat-button color="primary" matTooltip="Accept request" (click)="acceptRequest(element)">
                <mat-icon>done</mat-icon>
                Accept
              </button>
              <button mat-button color="warn" matTooltip="Cancel request" (click)="deleteRequest(element, 2)">
                <mat-icon>person_add_disabled</mat-icon>
                Cancel
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div *ngIf="acceptedRequests.length === 0 && sentRequests.length === 0 && receivedRequests.length === 0">
    <h2>You have no friends.</h2>
  </div>

</div>