<div *ngIf="userRole && userRole === 'ROLE_SYS_ADMIN'">
    <button mat-raised-button color="primary" style="float: right;margin: 5px;" mat-button (click)="openDialog()"><mat-icon>add</mat-icon>Create hotel</button>
</div>
<h2 style="padding: 0% 0% 0% 2.5%;">Search hotels: </h2>
<br>
<div align="center">
    <input matInput [(ngModel)]="nameLocation" style="height:40px; width:20%; border: 2px solid orange;" type="text" placeholder="Hotel name or location">
    <input #ref [min]="today" style="height:40px; width:20%; border: 2px solid orange;" autocomplete="off" matInput (dateChange)="change(ref.value)" [matDatepicker]="picker" placeholder="Check in date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker [startAt]="today" disabled="false"></mat-datepicker>
    <input [(ngModel)]="endDate" style="height:40px; width:20%; border: 2px solid orange;" [min]="startDate" autocomplete="off" matInput [matDatepicker]="picker2" placeholder="Check out date">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2 disabled="false" [startAt]="startDate"></mat-datepicker>&nbsp;&nbsp;
    <button mat-raised-button style="background-color: orange; color: white;" (click)="search(nameLocation)"><mat-icon>search</mat-icon>Search</button>
</div>
<br>
<h2 style="padding: 0% 0% 0% 2.5%;">List of hotels:</h2>
<div style="display:flex; flex-wrap: wrap" *ngIf="hotels">
<mat-card *ngFor="let h of hotels.slice(pageSize * pageIndex, pageSize * pageIndex + pageSize) | licationAndName : nameLocationFilter;" class="example-card">
    <mat-card-header>
        <mat-card-title>{{h.name}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="/assets/images/hotel.jpg">
    <mat-card-content>
        <b>Address</b> : {{h.location.address}} <br/>
        <b>Description</b> : {{h.description}} <br/>
        <b>Rating: </b>
        <span *ngFor="let rating of hotelRatings">
            <span *ngIf="rating.hotel.id == h.id">
                <div class="star-ratings-css mx-2">
                    <div class="star-ratings-css-top">
                        <span [ngStyle]="{'width': ((rating.rating * 100) / 5) + '%'}">
                        ★★★★★
                        </span>
                    </div>
                    <div>★★★★★</div>
                </div>
                <span class="badge badge-pill badge-info align-middle">{{rating.rating | ratingRound }}/5</span>
            </span>
        </span>
    </mat-card-content>
    <mat-card-actions style="float:right;"> 
        <button *ngIf="userRole && userRole === 'ROLE_USER'" mat-raised-button color="primary" (click)="beginReservation(h)">Reserve<mat-icon>today</mat-icon></button>
        <button mat-raised-button color="primary" [routerLink]="'/hotels/' + h.id">Details<mat-icon>arrow_forward</mat-icon></button>
    </mat-card-actions>
</mat-card>
</div>
<mat-paginator [length] = hotels.length
              [pageSize] = pageSize
              [pageSizeOptions] = "[5, 10, 20]"
              [showFirstLastButtons]="true"
              (page)="pageFunction($event)">
</mat-paginator>
