.stretch {
    width: 100%;
    overflow: hidden;
}

.header {
    text-align: center;
}

.button-right {
    float: right;
    margin: 5px;
}

.vehicle-card {
    width: 15%;
    margin: 0% 2% 5% 0%;
}

.div-mat-card {
    display: flex;
    flex-wrap: wrap;
}