<div *ngIf="!loadingRentACar && !loadingVehicles && !loadingMainServices" class="strech">
  <div *ngIf="rentACarExists" class="stretch">
    <h1 class="header">{{rentACar.name}}</h1>
    <mat-tab-group>
      <mat-tab label="Basic info">
        <button mat-raised-button *ngIf="userRole && userRole === 'ROLE_USER'" color="primary" class="button-right" (click)="openUpdateDialog()"><mat-icon>edit</mat-icon> Update</button>
        <div class="p-3">
          <p><b>Description:</b> {{(!rentACar.description) ? '✗' : rentACar.description}}</p>
          <b>Rating: </b>
            <div class="star-ratings-css mx-2">
              <div class="star-ratings-css-top">
                <span [ngStyle]="{'width': ((rating * 100) / 5) + '%'}">★★★★★</span>
              </div>
              <div><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
            </div>
            <span class="badge badge-pill badge-info align-middle">{{rating}}/5</span>  
            <p><b>Address:</b> {{rentACar.location.address}}
            <div>
              <iframe width="600" height="500" [src]='mapUrl' 
              frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
              </iframe>
            </div>
          </div>
      </mat-tab>
      <mat-tab label="Services">
        <span matTooltip="Cannot add more than 10 services!" [matTooltipDisabled]="mainServices.length <= 10" class="button-right">
          <button mat-raised-button color="primary" class="button-right" 
                  (click)="openAddMainServiceDialog()" 
                  *ngIf="userRole && userRole === 'ROLE_USER'"
                  [disabled]="mainServices.length > 10">
                  <mat-icon>add</mat-icon> Add service
          </button>
        </span>
        <div *ngIf="vehicles && vehicles.length > 0 && mainServices && mainServices.length > 0" class="p-5">
          <h2>Pricelist:</h2>
          <div class="border border-primary">
            <mat-table #table mat-table [dataSource]="dataSource">
              <ng-container *ngFor="let column of columns; let i = index" [matColumnDef]="column.columnDef">
                <mat-header-cell *matHeaderCellDef>{{ column.header }} 
                  <div class="ml-1" *ngIf="i > 1">
                    <button mat-icon-button [matMenuTriggerFor]="menu" [ngClass]="{'wiggle-button': !menuOpened}" color="primary" (menuOpened)="menuOpened = true" (menuClosed)="menuOpened = false">
                      <mat-icon>settings</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button mat-button color="primary" (click)="openUpdateMainServiceDialog(column.id)"><mat-icon>edit</mat-icon> Edit</button><br>
                      <button mat-button color="primary" (click)="deleteMainService(column.id)"><mat-icon>close</mat-icon> Delete</button>
                    </mat-menu>   
                  </div>
                </mat-header-cell>
                <mat-cell *matCellDef="let row">{{ column.cell(row) }}</mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="pageOptions" [showFirstLastButtons]="true" style="padding-right: 5%;"></mat-paginator>
          </div>
        </div>
        <div *ngIf="!vehicles || vehicles.length == 0 || !mainServices || mainServices.length == 0" style="padding-top: 5%;">
          <h4 style="font-size: 150%; text-align: center;">This rent a car service does not have any services yet!</h4>
        </div>
      </mat-tab>
      <mat-tab label="Vehicles">
        <button mat-raised-button color="primary" class="button-right" (click)="openAddVehicleDialog()" *ngIf="userRole && userRole === 'ROLE_USER'"><mat-icon>add</mat-icon> Add vehicle</button>
        <div class="container d-flex justify-content-end m-5" *ngFor="let vehicle of vehicles.slice(pageSize * pageIndex, pageSize * pageIndex + pageSize)">
          <div class="card w-75 p-4 mat-elevation-z12">
            <div class="row">
              <div class="col-md-7">
                <img src="{{vehicle.image}}" alt="Vehicle photo" class="w-100 mat-elevation-z12" style="border-radius: 10%;">
              </div>
              <div class="col-md-5 px-3">
                <span class="badge badge-danger" style="float: right; font-size: 120%; border-radius: 50%; padding-top: 5%; padding-bottom: 5%;" 
                      *ngIf="vehicle.discount && vehicle.discount > 0">
                  -{{vehicle.discount}}%
                </span>
                <div class="card-body px-3 text-info">
                  <h4 class="card-title">{{vehicle.brand}} {{vehicle.model}}</h4>
                  <p class="card-text"><b>Year:</b> {{vehicle.year}}</p>
                  <p class="card-text"><b>Fuel type:</b> {{vehicle.fuel}}</p>
                  <p class="card-text"><b>Number of seats:</b> {{vehicle.numOfSeats}}</p>
                  <p class="card-text"><b>Transmission:</b> {{vehicle.transmission}}</p>
                  <p class="card-text" *ngIf="vehicle.reserved"><b>Reserved: ✓</b></p>
                  <p class="card-text" *ngIf="!vehicle.reserved"><b>Reserved: ✗</b></p>
                  <b>Rating: </b>
                  <div class="star-ratings-css">
                      <div class="star-ratings-css-top">
                        <span [ngStyle]="{'width': ((vehicle.rating * 100) / 5) + '%'}">
                          ★★★★★
                        </span>
                      </div>
                      <div>★★★★★</div>
                  </div>
                  <span class="badge badge-pill badge-info align-middle">{{vehicle.rating}}/5</span> 
                  <div *ngIf="userRole && userRole === 'ROLE_USER'" class="d-flex justify-content-end mt-1">
                    <span matTooltip="Cannot be updated because it is reserved!" [matTooltipDisabled]="!vehicle.reserved">
                      <button mat-button color="primary" (click)="openUpdateVehicleDialog(vehicle)" [disabled]="vehicle.reserved"><mat-icon>edit</mat-icon></button>
                    </span>
                    <span matTooltip="Cannot be deleted because it is reserved!" [matTooltipDisabled]="!vehicle.reserved">
                      <button mat-button color="primary" (click)="deleteVehicle(vehicle.id)" [disabled]="vehicle.reserved"><mat-icon>delete</mat-icon></button>
                    </span>
                  </div>         
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="!vehicles || vehicles.length == 0" style="padding-top: 5%;">
          <h4 style="font-size: 150%; text-align: center;">This rent a car service does not have any vehicle yet!</h4>
        </div>
        <mat-paginator #vehiclePaginator *ngIf="vehicles && vehicles.length > 0"
          [length]="vehicles.length"
          [pageSize]="pageSize"
          [pageSizeOptions]="pageOptions"
          [showFirstLastButtons]="true"
          (page)="switchPage($event)">
        </mat-paginator>
      </mat-tab>
      <mat-tab label="Offices">
        <button mat-raised-button color="primary" class="mt-3 mr-3" 
                (click)="openAddOfficeDialog()" 
                *ngIf="userRole && userRole === 'ROLE_USER'">
        <mat-icon>add</mat-icon> Add office
        </button>
        <div *ngIf="offices && offices.length > 0">
          <div class="container">
              <div class="row">
                <div class="col-md-5">
                    <div class="list-group" style="overflow: auto; height: 400px;">
                      <button class="list-group-item list-group-item-info list-group-item-action flex-column align-items-stretch"
                              *ngFor="let office of offices" (click)="officeLocationChanged(office)">
                        <h5 class="mb-1">{{office.name}}</h5>
                        <p class="mb-1">{{office.location.address}} </p>
                        <div *ngIf="userRole && userRole === 'ROLE_USER'">
                          <button mat-button color="primary" (click)="openUpdateOfficeDialog(office)">
                            <mat-icon>edit</mat-icon>
                          </button>
                          <button mat-button color="primary" (click)="deleteOffice(office.id)">
                            <mat-icon>delete</mat-icon>
                          </button>
                        </div>      
                      </button>
                    </div>
                </div>
                <div class="col-md-7">
                    <iframe [src]='officeMapUrl' height="400px" class="w-100"
                            frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                    </iframe>
                </div>
              </div>
            </div>
        </div>
        <div *ngIf="!offices || offices.length == 0" style="padding-top: 5%;">
          <h4 style="font-size: 150%; text-align: center;">This rent a car service does not have any office yet!</h4>
        </div>
      </mat-tab>      
    </mat-tab-group>
  </div>
  <br><br>
  <div *ngIf="!rentACarExists">
    <p>
      Rent a car not found!
    </p>
  </div>
</div>