<h1 mat-dialog-title>Create hotel</h1>
<mat-dialog-content [formGroup]="hotelForm">
  <table>
    <tr>
      <td>Hotel name:</td>
      <td>
        <mat-form-field>
          <input matInput type="text" formControlName="name" placeholder="Name">
        </mat-form-field>
      </td>
    </tr>
    <tr>
        <td>Hotel address:</td>
        <td>
          <mat-form-field>
            <input matInput type="text" formControlName="address" placeholder="Address">
          </mat-form-field>
        </td>
    </tr>
    <tr>
        <td>Hotel description:</td>
        <td>
          <mat-form-field>
            <input matInput type="text" formControlName="description" placeholder="Description">
          </mat-form-field>
        </td>
    </tr>
  </table>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="hotelForm.value">Ok</button>
  <button mat-button  [mat-dialog-close]>Cancel</button>
</mat-dialog-actions>
