<button *ngIf="userRole === 'ROLE_SYS_ADMIN'" mat-raised-button (click)="openDialog()" color="primary" style="margin: 2.5% 0% 0% 0%;">
  <mat-icon>add</mat-icon> Add Air Company
</button>
<mat-form-field style="float: right; padding-right: 3%; padding-top: 2%;" *ngIf="!search">
  <mat-select placeholder="Sort by" (selectionChange)="sort($event.value)" [(ngModel)]="selected" style="width: 110%;">
    <mat-select-trigger>
      {{selectedOption.viewValue}} <mat-icon color="primary">{{selectedOption.icon}}</mat-icon>
    </mat-select-trigger>
    <mat-option *ngFor="let option of sortOptions" [value]="option.value">{{option.viewValue}} <mat-icon color="primary">{{option.icon}}</mat-icon>
    </mat-option>
  </mat-select>
</mat-form-field>
<button mat-raised-button color="primary" (click)="search = !search" *ngIf="search" style="float: right;">Back to
  companies</button>
<div class="row">
  <div class="col-md-2 ml-3">
    <div class="mt-5">
      <h4>Search flights</h4>
      <mat-form-field>
        <mat-label>Company</mat-label>
        <mat-select [(value)]="searchObject.companyId">
          <mat-option>---</mat-option>
          <mat-option *ngFor="let company of companies" [value]="company.id">{{company.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Departure destination</mat-label>
        <input matInput [(ngModel)]="departure" [(ngModel)]="departure">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Arrival destination</mat-label>
        <input matInput [(ngModel)]="arrival" [(ngModel)]="arrival">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Departure date</mat-label>
        <input matInput [min]="minDate" [matDatepicker]="picker" [(ngModel)]="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" (click)="searchFlights(departure, arrival, date)">
      Search <mat-icon>search</mat-icon>
    </button>
  </div>
  <div class="col-md-9">
    <div *ngIf="!loading && companies && !search">
      <div class="container d-flex justify-content-start m-5" *ngFor="let company of companies.slice(pageSize * pageIndex, pageSize * pageIndex + pageSize)">
        <div class="card w-100 p-4 mat-elevation-z12">
          <div class="row">
            <div class="col-md-6">
              <img src="https://media.etihad.com/cms/webimage/BaseImage_Standard/Documents/Press-Release-Images/ey-eap-1.jpg.jpg"
                alt="No photo" class="w-100 mat-elevation-z12" style="border-radius: 10%;">
            </div>
            <div class="col-md-6 px-3">
              <div class="card-body px-3 text-info">
                <h4 class="card-title">{{company.name}}</h4>
                <p class="card-text"><b>Address: </b> {{company.location.address}}</p>
                <p class="card-text"><b>Description:</b> {{(!company.description) ? '✗' : company.description}}</p>
                <b>Rating: </b>
                <div class="star-ratings-css mx-2">
                  <div class="star-ratings-css-top">
                    <span [ngStyle]="{'width': ((company.rating * 100) / 5) + '%'}">
                      ★★★★★
                    </span>
                  </div>
                  <div>★★★★★</div>
                </div>
                <span class="badge badge-pill badge-info align-middle">{{company.rating}}/5</span>
                <div class="d-flex justify-content-end align-items-end mt-5">
                  <button mat-raised-button color="primary" [routerLink]="[ '/companies', company.id ]" class="m-2">
                    Details <mat-icon>arrow_forward</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="flights && search container-fluid">
      <ul class="list-group ml-5 p-5">
        <h3>Flights</h3>
        <a class="list-group-item list-group-item-action" *ngFor="let flight of flights" routerLink="/flights/{{flight.id}}">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">
              <mat-icon>flight_takeoff</mat-icon>
              <span style="margin-left: 10px">
                {{flight.takeOffLocation.city}}
              </span>
              <mat-icon style="margin-left: 30px">flight_land</mat-icon>
              <span style="margin-left: 10px">
                {{flight.landingLocation.city}}
              </span>
              <span style="margin-left: 20px">
                ({{flight.company.name}})
              </span>
            </h5>
            <small>from {{flight.ticketPrice | currency}}</small>
          </div>
          <small>
            <span style="margin-left: 10px">{{flight.takeOffDate | date:'short'}}</span>
            <span style="margin-left: 70px">{{flight.landingDate | date:'short'}}</span>
          </small>
        </a>
      </ul>
    </div>
  </div>
</div>
<mat-paginator *ngIf="companies && companies.length > 0 && !search" [length]=companies.length [pageSize]="pageSize"
  [pageSizeOptions]="[5, 10, 25, 100]" [showFirstLastButtons]="true" (page)="switchPage($event)">
</mat-paginator>