<h1 mat-dialog-title>{{update ? 'Update flight' : 'Add new flight'}}</h1>
<mat-dialog-content [formGroup]="flightForm" class="fields-container">
  <mat-form-field>
    <input matInput type="text" id="takeOffLocation-input" formControlName="takeOffLocation" required>
    <mat-label>From <mat-icon>flight_takeoff</mat-icon></mat-label>
    <mat-error *ngIf="flightForm.get('takeOffLocation').invalid && (flightForm.get('takeOffLocation').dirty || flightForm.get('takeOffLocation').touched)">
      <div *ngIf="flightForm.get('takeOffLocation').errors.required"> Take off location is required.</div>
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="text" id="landingLocation-input" formControlName="landingLocation" placeholder="To" required>
    <mat-label>To <mat-icon>flight_land</mat-icon></mat-label>
    <mat-error *ngIf="flightForm.get('landingLocation').invalid && (flightForm.get('landingLocation').dirty || flightForm.get('landingLocation').touched)">
      <div *ngIf="flightForm.get('landingLocation').errors.required"> Landing location is required.</div>
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="datetime-local" formControlName="takeOffDate" placeholder="Take off date" required>
    <mat-error *ngIf="flightForm.get('takeOffDate').invalid && (flightForm.get('takeOffDate').dirty || flightForm.get('takeOffDate').touched)">
      <div *ngIf="flightForm.get('takeOffDate').errors.required"> Take off date is required.</div>
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="datetime-local" formControlName="landingDate" placeholder="Landing date" required>
    <mat-error *ngIf="flightForm.get('landingDate').invalid && (flightForm.get('landingDate').dirty || flightForm.get('landingDate').touched)">
      <div *ngIf="flightForm.get('landingDate').errors.required"> Landing date is required.</div>
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="number" formControlName="ticketPrice" placeholder="Price" required>
    <mat-error *ngIf="flightForm.get('ticketPrice').invalid && (flightForm.get('ticketPrice').dirty || flightForm.get('ticketPrice').touched)">
      <div *ngIf="flightForm.get('ticketPrice').errors.required"> Price is required.</div>
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="text" id="transferLocations-input" formControlName="destinations" placeholder="Transfer locations">
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-chip-list>
      <mat-chip *ngFor="let dest of destinations" color="primary" (removed)="removeDestination(dest)">
        {{dest.city}}, {{dest.country}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="primary" type="submit" (click)="submitForm()" [disabled]="flightForm.invalid">Confirm</button>
  <button mat-raised-button [mat-dialog-close]>Cancel</button>
</mat-dialog-actions>