<h5 mat-dialog-title>Flight reservation</h5>
<h5><b>Total: </b>{{total}}{{currency}}</h5>
<mat-dialog-content>
  <mat-horizontal-stepper linear labelPosition="bottom">
    <mat-step label="Friends invitation" state="phone">
      <div class="step" *ngIf="seats.length > 1">
        <mat-hint>{{seats.length-friendList.selectedOptions.selected.length-1}} free seat(s)</mat-hint>
        <mat-selection-list #friendList (selectionChange)="selectionChange($event.option)">
          <mat-list-option *ngFor="let friend of friends; let i = index" [value]="i">
            <img matListAvatar src="{{friend.image}}" alt="" *ngIf="friend.image">
            <img matListAvatar src="/assets/images/avatar.jpg" alt="" *ngIf="!friend.image">
            <h3 matLine> {{friend.firstName}} {{friend.lastName}}</h3>
          </mat-list-option>
        </mat-selection-list>
      </div>
      <h5 *ngIf="seats.length === 1"> No seats left free.</h5>
      <br>
      <mat-divider></mat-divider>
      <br>
      <div>
        <button mat-raised-button [mat-dialog-close] type="button">Cancel</button>
        <button mat-raised-button color="primary" matStepperNext type="button">Next</button>
      </div>
    </mat-step>

    <mat-step label="Passenger details" state="short_text" [stepControl]="passengerForm">
      <form [formGroup]="passengerForm">
        <div class="step">
          <div *ngFor="let seat of seats; let i = index;">
            <h5>Passenger {{i+1}} out of {{seats.length}}</h5>
            <div class="row">
              <div class="col">
                <mat-form-field appearance="outline">
                  <mat-label>First name</mat-label>
                  <input type="text" matInput required formControlName="{{seat}}-0">
                  <mat-error *ngIf="passengerForm.get(seat + '-0').invalid">
                    <div *ngIf="passengerForm.get(seat + '-0').errors.required"> First name is required.</div>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field appearance="outline">
                  <mat-label>Last name</mat-label>
                  <input type="text" matInput required formControlName="{{seat}}-1">
                  <mat-error *ngIf="passengerForm.get(seat + '-1').invalid">
                    <div *ngIf="passengerForm.get(seat + '-1').errors.required"> Last name is required.</div>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col">
                <mat-form-field appearance="outline">
                  <mat-label>Date of birth</mat-label>
                  <input matInput [matDatepicker]="picker" formControlName="{{seat}}-2" required>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker disabled="false"></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field appearance="outline">
                  <mat-label>Phone number</mat-label>
                  <input type="text" matInput required formControlName="{{seat}}-3">
                  <mat-hint>
                    Example: 123-456
                  </mat-hint>
                  <mat-error *ngIf="passengerForm.get(seat + '-3').invalid">
                    <div *ngIf="passengerForm.get(seat + '-3').errors.required"> Phone number is required.</div>
                    <div *ngIf="passengerForm.get(seat + '-3').errors.pattern"> Invalid phone number format!</div>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <mat-divider></mat-divider>
            <br>
          </div>
        </div>
        <div>
          <button mat-raised-button [mat-dialog-close] type="button">Cancel</button>
          <button mat-raised-button matStepperPrevious>Back</button>
          <button mat-raised-button color="primary" matStepperNext type="button">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step label="Hotel reservations" state="hotel">
      <div class="step">
        <form [formGroup]="roomForm">
          <div class="row">
            <div class="col">
              <mat-form-field appearance="outline">
                <mat-label>Check in date</mat-label>
                <input autocomplete="off" matInput [matDatepicker]="picker" [min]="landingDate" formControlName="startDate"
                  required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker [startAt]="landingDate" disabled="false"></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="outline">
                <mat-label>Number of days</mat-label>
                <input autocomplete="off" matInput type="number" formControlName="numberOfDays" required>
              </mat-form-field>
            </div>
            <div class="col">
              <button class="mt-3" mat-raised-button color="primary" (click)="searchRooms()" [disabled]="roomForm.invalid">Search
                rooms on discount</button>
            </div>
          </div>
        </form>
        <br>
        <h1 *ngIf="rooms && rooms.length != 0" mat-dialog-title>Rooms on discount: </h1>
        <br>
        <button *ngIf="choosenItem" mat-button color="primary" style="float: right;margin: 5px;" (click)="choosenItem = null">Clear
          selection</button>
        <mat-hint *ngIf="rooms && rooms.length != 0"> Click on the room you want to reserve </mat-hint>
        <button class="list-group-item list-group-item-action flex-column align-items-stretch" *ngFor="let room of rooms"
          (click)="choosenItem = room" [ngClass]="{'list-group-item-info': !choosenItem || choosenItem.room.id != room.room.id, 
                    'list-group-item-success': choosenItem && choosenItem.room.id == room.room.id}"
          style="cursor: pointer;">
          <div class="row mb-2">
            <h4>{{room.room.type}}</h4>
          </div>
          <div class="row">
            <div class="col">
              <b>Floor: </b> {{room.room.floor}} <br>
              <b>Number of beds: </b> {{room.room.numberOfBeds}} <br>
              <b>Has balcony: </b> <span *ngIf="room.room.hasBalcony"> ✓ </span>
              <span *ngIf="!room.room.hasBalcony"> ✗ </span> <br>
              <b>Has air condition: </b> <span *ngIf="room.room.hasAirCondition"> ✓ </span>
              <span *ngIf="!room.room.hasAirCondition"> ✗ </span> <br>
              <b>Rating: </b>
              <div class="star-ratings-css mx-2">
                <div class="star-ratings-css-top">
                  <span [ngStyle]="{'width': ((room.rating * 100) / 5) + '%'}">
                    ★★★★★
                  </span>
                </div>
                <div>★★★★★</div>
              </div>
              <span class="badge badge-pill badge-info align-middle">{{room.rating | ratingRound }}/5</span>
            </div>
            <div class="col">
              <b>Price: </b> {{room.totalPrice}} € <br>
              <b>Discount: </b> {{room.room.discount}} % <br>
              <font size="5"><b>Room price:</b> {{ room.totalPrice*(100-room.room.discount)/100 }} € </font>
            </div>
          </div>
        </button>
      </div>
      <br>
      <div>
        <button mat-raised-button [mat-dialog-close] type="button">Cancel</button>
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" matStepperNext type="button">Next</button>
      </div>
    </mat-step>
    <mat-step label="Rent-a-car reservations" state="directions_car">
      <div class="step">
        <form [formGroup]="vehicleForm">
          <div class="row">
            <div class="col">
              <mat-form-field appearance="outline">
                <mat-label>Start date</mat-label>
                <input autocomplete="off" matInput [matDatepicker]="picker2" [min]="landingDate" formControlName="startDate"
                  required>
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2 [startAt]="landingDate" disabled="false"></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="outline">
                <mat-label>End date</mat-label>
                <input autocomplete="off" matInput [matDatepicker]="picker3" [min]="landingDate" formControlName="endDate"
                  required>
                <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                <mat-datepicker #picker3 [startAt]="landingDate" disabled="false"></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col">
              <button class="mt-3" mat-raised-button color="primary" (click)="searchVehicles()" [disabled]="vehicleForm.invalid">Search
                vehicles on discount</button>
            </div>
          </div>
        </form>
        <br>
        <button *ngIf="choosenItem2" mat-button color="primary" style="float: right;margin: 5px;" (click)="choosenItem2 = null">Clear
          selection</button>
        <mat-hint *ngIf="vehicles && vehicles.length != 0"> Click on the vehicle you want to reserve </mat-hint>
        <button class="list-group-item list-group-item-action flex-column align-items-stretch" *ngFor="let item of vehicles"
          (click)="choosenItem2 = item" [ngClass]="{'list-group-item-info': !choosenItem2 || choosenItem2.vehicle.id != item.vehicle.id, 
                            'list-group-item-success': choosenItem2 && choosenItem2.vehicle.id == item.vehicle.id}"
          style="cursor: pointer;">
          <div class="row mb-2">
            <img class="mat-card-avatar-custom mx-4" src="{{item.vehicle.image}}" alt="No photo" style="width: 50px !important; height: 50px !important;">
            <h4>{{item.vehicle.brand}} {{item.vehicle.model}}</h4>
          </div>
          <div class="row">
            <div class="col">
              <b>Year: </b> {{item.vehicle.year}}<br>
              <b>No. of seats: </b> {{item.vehicle.numOfSeats}}<br>
              <b>Rating: </b>
              <div class="star-ratings-css mx-2">
                <div class="star-ratings-css-top">
                  <span [ngStyle]="{'width': ((item.rating * 100) / 5) + '%'}">
                    ★★★★★
                  </span>
                </div>
                <div>★★★★★</div>
              </div>
              <span class="badge badge-pill badge-info">{{item.rating | ratingRound}}/5</span><br>
              <b>Fuel: </b> {{item.vehicle.fuel}}<br>
              <b>Transmission: </b> {{item.vehicle.transmission}}
            </div>
            <div class="col">
              <b>Total price: </b> {{item.totalPrice}}€ <br>
              <b>Discount: </b> {{item.vehicle.discount}} % <br>
              <font size="5"><b>Price with discount:</b> {{ item.totalPrice*(100- item.vehicle.discount)/100 }}€ </font>
            </div>
          </div>
        </button>
      </div>
      <br>
      <div>
        <button mat-raised-button [mat-dialog-close] type="button">Cancel</button>
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" type="button" (click)="finishReservation()">Finish</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</mat-dialog-content>