<div *ngIf="!loadingFlight && !loadingDestinations">
  <div *ngIf="flightExists">
    <h2>Flight details</h2>

    <div *ngIf="userRole && userRole === 'ROLE_USER'">
      <button mat-raised-button color="primary" (click)="openUpdateDialog()">
        <mat-icon>edit</mat-icon> Update
      </button>
      <br>
    </div>
    <br>

    <p><b>From:</b>{{flight.takeOffLocation.city}}</p>
    <p><b>To:</b> {{flight.landingLocation.city}} </p>
    <p><b>Take off date:</b> {{flight.takeOffDate | date}} </p>
    <p><b>Landing date:</b> {{flight.landingDate}} </p>
    <p><b>Distance:</b> calculating... </p>
    <p><b>Ticket price:</b> {{flight.ticketPrice | currency}} </p>
    <h3>Destinations:</h3>
    <mat-form-field>
      <mat-chip-list>
        <mat-chip *ngFor="let dest of destinations" color="primary">
          {{dest.city}}, {{dest.country}}
        </mat-chip>
      </mat-chip-list>
    </mat-form-field>
    <br>

    <button mat-stroked-button color="primary" (click)="addRow()">Add Row</button>
    
  </div>

  <div *ngIf="!flightExists">
    <p>
      Flight not found!
    </p>
  </div>

</div>

<!-- <div id="chartdiv"></div> -->

<div id="map-container"></div>
<div id="legend-container"></div>
<div id="shoppingCart-container"></div>

<div *ngIf="flightExists">
  <button mat-stroked-button color="primary" (click)="bookFlight()" *ngIf="userRole === 'ROLE_USER'">Book flight</button>
  <button mat-stroked-button color="primary" (click)="saveDiagram()" *ngIf="userRole === 'ROLE_AIRCOMPANY_ADMIN'">Save diagram</button>
</div>