<div *ngIf="!loadingCompany && !loadingFlights && !loadingDestinations">
    <div *ngIf="companyExists">
        <h1>{{company.name}}</h1>

        <div *ngIf="userRole && userRole === 'ROLE_USER'">
            <button mat-raised-button color="primary" (click)="openAddFlightDialog()">
                <mat-icon>add</mat-icon> Add flight
            </button>
            <button mat-raised-button color="primary" (click)="openUpdateDialog()">
                <mat-icon>edit</mat-icon> Update
            </button>
        </div>

        <p><b>Address:</b> {{company.address}} </p>
        <p><b>Description:</b> {{company.description}} </p>

        <h3>Destinations:</h3>
        <mat-form-field>
            <mat-chip-list>
                <mat-chip *ngFor="let dest of destinations" color="primary">
                    {{dest.city}}, {{dest.country}}
                </mat-chip>
            </mat-chip-list>
        </mat-form-field>

        <h3>Flights:</h3>
        <mat-card class="example-card" *ngFor="let flight of flights">
            <mat-card-header>
                <mat-card-title>{{flight.takeOffDate | date}}</mat-card-title>
                <mat-card-subtitle>take off</mat-card-subtitle>

                <mat-card-title>{{flight.landingDate}}</mat-card-title>
                <mat-card-subtitle>landing</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p><b>Distance:</b> {{flight.distance}} </p>
                <p><b>Ticket price:</b> {{flight.ticketPrice | currency}} </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-stroked-button color="primary" routerLink="/flights/{{flight.id}}">DETAILS</button>
            </mat-card-actions>
        </mat-card>

    </div>

    <div *ngIf="!companyExists">
        <p>
            Air company not found!
        </p>
    </div>
</div>