<mat-toolbar color="primary" style="overflow: hidden; position: fixed; z-index: 999;">
        <mat-toolbar-row>
                <a style="text-decoration: none; color: white" href="">TakeOff</a>
            
                <span class="fill"></span>
                <div *ngIf="userRole && userRole === 'ROLE_SYS_ADMIN'">
                <button mat-button (click)="open()">Create new system admin</button>&nbsp;&nbsp;
                </div>
                <button mat-raised-button style="background-color: orange; color: white;">Login</button>&nbsp;&nbsp;
                <button mat-raised-button style="background-color: orange; color: white;">Registration</button>
        </mat-toolbar-row>
</mat-toolbar>
<div style="padding-top: 50px;">
        <router-outlet></router-outlet>
</div>