<mat-toolbar color="primary" style="overflow: hidden; position: fixed; z-index: 999;">
        <mat-toolbar-row>
                <a style="text-decoration: none; color: white" href="">TakeOff</a>
            
                <span class="fill"></span>

                <div *ngIf="username">
                        <button mat-button [matMenuTriggerFor]="menu">
                                <mat-icon *ngIf="!profileImage" style="margin-right: 5%;">person</mat-icon>
                                <img class="mat-card-avatar-custom" src={{profileImage}} *ngIf="profileImage"> 
                                {{username}}
                        </button>
                        <mat-menu #menu="matMenu">
                                <a mat-menu-item style="color: orange" [routerLink]="[ '/users/profile' ]">My profile</a>
                                <mat-divider></mat-divider>
                                <app-logout></app-logout>
                        </mat-menu>   
                </div>&nbsp;&nbsp;
                <app-login></app-login>&nbsp;&nbsp;
                <app-registration></app-registration>
        </mat-toolbar-row>
</mat-toolbar>
<div style="padding-top: 80px; padding-left: 10px;">
        <router-outlet></router-outlet>
</div>