<h1 mat-dialog-title>Registration</h1>
<mat-dialog-content [formGroup]="registrationForm">
  <mat-form-field>
    <input matInput type="text" formControlName="username" placeholder="Username">
  </mat-form-field>
  <br>
  <mat-form-field>
      <input matInput type="password" formControlName="password" placeholder="Password">
  </mat-form-field>
  <br>
  <mat-form-field>
      <input matInput type="password" formControlName="password" placeholder="Confirm password">
  </mat-form-field>
  <br>
  <mat-form-field>
      <input matInput type="email" formControlName="email" placeholder="Email">
  </mat-form-field>
  <br>
  <mat-form-field>
      <input matInput type="text" formControlName="firstname" placeholder="First Name">
  </mat-form-field>
  <br>
  <mat-form-field>
      <input matInput type="text" formControlName="lastname" placeholder="Last Name">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]>Cancel</button>
  <button mat-button [mat-dialog-close]="registrationForm.value" [disabled]="registrationForm.invalid">Submit</button>
</mat-dialog-actions>