<button *ngIf="userRole === 'ROLE_SYS_ADMIN'" mat-raised-button (click)="openAddRentACarDialog()" color="primary" style="margin: 2.5% 0% 0% 0%;"><mat-icon>add</mat-icon> Add Rent A Car</button>
<mat-form-field style="float: right; padding-right: 3%; padding-top: 2%;">
    <mat-select placeholder="Sort by" (selectionChange)="sort($event.value)" [(ngModel)]="selected" style="width: 110%;">
        <mat-select-trigger>
            {{selectedOption.viewValue}} <mat-icon color="primary">{{selectedOption.icon}}</mat-icon>
        </mat-select-trigger>
        <mat-option *ngFor="let option of sortOptions" [value]="option.value">{{option.viewValue}} <mat-icon color="primary">{{option.icon}}</mat-icon></mat-option>
    </mat-select>
</mat-form-field>
<div class="row">
    <div class="col-md-2 ml-5">
        <div class="mt-5">
            <h3>Search:</h3>
            <mat-form-field>
                <input matInput [(ngModel)]="nameParam" placeholder="Search by name">
            </mat-form-field>
            <mat-form-field>
                <input matInput [(ngModel)]="countryParam" placeholder="Search by country">
            </mat-form-field>
            <mat-form-field>
                <input matInput [(ngModel)]="cityParam" placeholder="Search by city">
            </mat-form-field>    
        </div>
        <button mat-raised-button color="primary" (click)="search(nameParam, countryParam, cityParam)">
            Search <mat-icon>search</mat-icon>
        </button>
    </div>
    <div class="col-md-9">
        <div *ngIf="!loading && rentACars">
            <div class="container d-flex justify-content-start m-5" 
                *ngFor="let rentACar of rentACars.slice(pageSize * pageIndex, pageSize * pageIndex + pageSize) | nameFilter : nameFilterParam : countryFilterParam : cityFilterParam;">
                <div class="card w-100 p-4 mat-elevation-z12">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="/assets/images/rent-a-car.jpg" alt="No photo" class="w-100 mat-elevation-z12" style="border-radius: 10%;">
                        </div>
                        <div class="col-md-6 px-3">
                            <div class="card-body px-3 text-info">
                            <h4 class="card-title">{{rentACar.name}}</h4>
                            <p class="card-text"><b>Address: </b> {{rentACar.location.address}}</p>
                            <p class="card-text"><b>Description:</b> {{(!rentACar.description) ? '✗' : rentACar.description}}</p> 
                            <b>Rating: </b>
                            <div class="star-ratings-css mx-2">
                                <div class="star-ratings-css-top">
                                    <span [ngStyle]="{'width': ((rentACar.rating * 100) / 5) + '%'}">
                                    ★★★★★
                                    </span>
                                </div>
                                <div>★★★★★</div>
                            </div>
                            <span class="badge badge-pill badge-info align-middle">{{rentACar.rating | ratingRound}}/5</span> 
                            <div class="d-flex justify-content-end align-items-end mt-5">
                                <button mat-raised-button color="primary" (click)="beginReservationProcess(rentACar)" 
                                        class="m-2" *ngIf="userRole && userRole === 'ROLE_USER'">
                                    Reservation <mat-icon>today</mat-icon>
                                </button>
                                <button mat-raised-button color="primary" [routerLink]="[ '/rent-a-cars', rentACar.id ]" class="m-2">
                                    Details <mat-icon>arrow_forward</mat-icon>
                                </button>
                            </div>         
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<mat-paginator *ngIf="rentACars && rentACars.length > 0" 
              [length] = rentACars.length
              [pageSize] = "pageSize"
              [pageSizeOptions] = "[5, 10, 25, 100]"
              [showFirstLastButtons]="true"
              (page)="switchPage($event)">
</mat-paginator>