<h1 *ngIf="userExists" [ngClass]="{'profile-header': userExists}">{{user.username}}</h1>
<img id="profileImg" [ngClass]="{'profile-img': userExists}">
<div *ngIf="!loadingUser">
  <div *ngIf="userExists">
    <div [formGroup]="profileForm">
      <div id="first-container">
        <mat-form-field appearance="outline">
          <mat-label>First name</mat-label>
          <input type="text" matInput formControlName="firstName" required>
          <mat-error *ngIf="profileForm.get('firstName').invalid && (profileForm.get('firstName').dirty || profileForm.get('firstName').touched)">
            <div *ngIf="profileForm.get('firstName').errors.required"> First name is required.</div>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Last name</mat-label>
          <input type="text" matInput formControlName="lastName" required>
          <mat-error *ngIf="profileForm.get('lastName').invalid && (profileForm.get('lastName').dirty || profileForm.get('lastName').touched)">
            <div *ngIf="profileForm.get('lastName').errors.required"> Last name is required.</div>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="email" required>
        </mat-form-field>
      </div>

      <div id="second-container">
        <mat-form-field appearance="outline">
          <mat-label>Phone number</mat-label>
          <input type="text" matInput formControlName="phoneNumber" required>
          <mat-error *ngIf="profileForm.get('phoneNumber').invalid && (profileForm.get('phoneNumber').dirty || profileForm.get('phoneNumber').touched)">
            <div *ngIf="profileForm.get('phoneNumber').errors.required"> Phone number is required.</div>
            <div *ngIf="profileForm.get('phoneNumber').errors.pattern"> Invalid phone number format!.</div>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Address</mat-label>
          <input type="text" matInput formControlName="address" required>
          <mat-error *ngIf="profileForm.get('address').invalid && (profileForm.get('address').dirty || profileForm.get('address').touched)">
            <div *ngIf="profileForm.get('address').errors.required"> Address is required.</div>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Date of birth</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="dateOfBirth" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker disabled="false"></mat-datepicker>
          <!-- <input matInput type="date" formControlName="dateOfBirth" placeholder="Date of birth"> -->
        </mat-form-field>
      </div>

      <div id="third-container">
        <mat-form-field appearance="outline">
          <mat-label>About me</mat-label>
          <textarea #aboutMe matInput [attr.maxlength]="aboutMeMaxLength" formControlName="aboutMe" rows="5"></textarea>
          <mat-hint align="end">{{aboutMe.value.length}} / {{aboutMeMaxLength}}</mat-hint>
        </mat-form-field>

        <button mat-raised-button id="submit" type="submit" (click)="updateUser()" color="primary" [disabled]="profileForm.invalid || !changedForm">Save
          changes</button>
        <!-- </div> -->

      </div>
    </div>

  </div>

  <div *ngIf="!userExists">
    <p>
      User not found!
    </p>
  </div>

</div>