.profile-header {
    padding-left: 40px;
}
.profile-img {
    width: 250px;
    height: 250px;
    border-radius: 25px;
    border: 2px solid rgb(40, 72, 216);
    padding: 1px;
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
}

#first-container {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    float: left;
    width: 300px;
}

#second-container {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    float: none;
    width: 300px;
}

#third-container {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    float: none;
    width: 630px;
}

#submit {
    width: 120px;
    /* float: right; */
}